@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
  --color-golden: #F1AF09;
  --color-black: #000000a8;
}

* {
   margin: 0;
   padding: 0;
   border: none;
 }

body {
  background: #111111dc;
  font-family: Montserrat, sans-serif;
  font-size: 14px ;
  color: white;
}

header {
  background-color: var(--color-black);
  width: 100%;
  padding: 32px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 2px solid var(--color-golden);
}

.links {
  font-size: 22px;
}

.links a + a {
  margin-left: 32px;
}

.links a {
  text-decoration: none;
  color: white;
  position: relative;
}

.links a:hover{
  color: var(--color-golden);
}


.links a.active{
  color: var(--color-golden);
}

.links a::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: var(--color-golden);
  position: absolute;
  left: 0;
  bottom: -9px;
}

.links a:hover::after {
  width: 100%;
  transition: width 200ms ease-in-out;
}

.card {
  background-color: var(--color-black);
  width: 900px;
  min-height: 500px;

  /* Espaçamento no Centro */
  margin: 45px auto;

  /* Grid Dividido no Meio */
  display: grid;
  grid-template-columns: 1fr 1fr;

  /* Sombra */
  box-shadow: 20px 20px 40px -2px var(--color-black);

  /* Animação */
  animation-name: up;
  animation-duration: 100ms;
  animation-timing-function: ease;
}

@keyframes up {
  from { 
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
  }
}

/* Details */

.details {
  color: white;
  padding: 32px;
}

.details .item {
  border-bottom: 1px solid rgba(245, 171, 53, 0.315);
  padding: 16px 0;
}

.details .item:last-child {
  border: none;
}


/* Pegando Primeira <div> </div> de Details e <h3> </h3> */
.details h3,
.details .item div:nth-child(1){
  font-size: 14px;
  letter-spacing: 0.7px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.397);
}

/* Pegando Segunda <div> </div> de Details */
.details .item div:nth-child(2){
  line-height: 20px;
  color: white;
  font-size: 14
  
  px;
}

.details h3 {
  font-weight: bold;
  color: var(--color-golden);
}

.details .item span {
  padding: 8px 16px;
  background-image: linear-gradient(to right, rgba(253, 227, 167, 1) , rgba(250, 191, 88, 0.678));
  border-radius: 16px;
  color: rgb(0, 0, 0);
  margin-right: 4px;
  margin-top: 8px;
  display: inline-block;
  font-weight: bold;
  text-transform: lowercase;
  font-size: 10px;
}