@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

:root {
  --color-pink: #FF69B4;
  --color-white: #f5f5f5;
  --color-black: #000000e8;
}

* {
   margin: 0;
   padding: 0;
   border: none;
 }

body {
  background: #111111dc;
  font-family: Montserrat, sans-serif;
  font-size: 16px ;
  color: var(--color-white);
  font-weight: normal;
}

header {
  width: 100%;
  background-color: var(--color-white);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 4px solid var(--color-pink); 
}

header .logo-image {
  padding-left: 20px;
}

@media screen and (max-width: 500px) {
  header .links a {
    float: none;
    display: block;  
  }
}

.links {
  font-size: 25px;
  margin-left:auto;
  margin-right:auto;
  width: 605px;
}

.links a + a {
  margin-left: 20px;
}

.links a {
  text-decoration: none;
  color: black;
  position: relative;
  margin: 0px 10px;
  font-weight: normal;
}

.links a:hover {
  color: var(--color-pink);
}

/*
.links a.active {
font-weight: bold;
color: var(--color-pink); 
}
*/

.links a::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: var(--color-pink);
  position: absolute;
  left: 0;
  bottom: -9px;
}

.links a:hover::after {
  width: 100%;
  transition: width 100ms ease-in-out;
}

/* ---------- Card ---------- */

.card {
  background-color: #0000008e;
  width: 900px;
  min-height: 400px;

  /* Espaçamento no Centro */
  margin: 45px auto;

  /* Grid Dividido no Meio */
  display: grid;
  grid-template-columns: 1fr 1fr;

  /* Sombra */
  box-shadow: 20px 20px 40px -2px black;

  /* Animação do Card */
  animation-name: up;
  animation-duration: 100ms;
  animation-timing-function: ease;
}

@keyframes up {
  from { 
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
  }
}

/* ---------- Details ---------- */

.details {
  color: var(--color-white);
  padding: 32px;
}

.details .item {
  border-bottom: 1px solid #ff69b45d;
  padding: 8px 0;
}

.details .item:last-child {
  border: none;
}

/* Pegando Primeira <div> </div> de Details and <h3> </h3> */
.details h3,
.details .item div:nth-child(1) { 
  line-height: 24px;
  color:#A9A9A9;
  font-size: 18px;
  margin-top: 12px;
  font-weight: normal;
}

/* Pegando Segunda <div> </div> de Details */
.details .item div:nth-child(2) {
  color: var(--color-white);
  font-size: 16px;
  margin-top: 12px;
  font-weight: normal;
}

.details h3 {

  /* text-transform: uppercase; 
     letter-spacing: 1px;
  */

  font-weight: bold;
  font-size: 18px;
  color: var(--color-pink);
}

.details .item span {
  padding: 8px 16px;
  display: inline-flex;
  margin-top: 8px;
  margin-right: 4px;
  font-size: 14px;
  border-radius: 18px;
  color: var(--color-white); 
  font-weight: normal;
}

input[name="classes"] {
  outline: none;
  width: initial;
  margin-right: 14px; 
  margin-top: 2px;
  box-shadow: 0px 0px 10px 1px var(--color-pink);
}

.details .item label {
  padding: 8px 14px;
  box-shadow: 0px 0px 12px var(--color-pink);
  background-image: linear-gradient(390deg, #eec0c6 10%, var(--color-pink) 99%);
  border-radius: 16px;
  color: var(--color-black); 
  letter-spacing: 1px;
  margin-right: 16px;
  margin-top: 8px;
  display: inline-flex;
  font-size: 14px; 
}

/* ---------- Form ---------- */

select[name="education"],
input {
  width: 100%;
  outline: none;
  color: var(--color-white);
  font-size: 16px;
  background: transparent;
  flex: left;
  cursor: pointer;
  font-weight: normal;
  font-family: Montserrat, sans-serif;
}
select[name="education"]{
  color: var(--color-black);
  margin-top: 12px;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px #000000e8 inset;
}

input[name="avatar_url"] {
  -webkit-text-fill-color: #4169E1 !important;
}
select[name="education"],
input[name="birth"],
input[name="name"],
input[name="services"] {
  -webkit-text-fill-color: var(--color-white) !important;
}

input[name="birth"] {
  color: none;
  opacity: 1;
}

select[name="education"],
input[name="gender"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: none;
  width: initial;
  margin-right: 10px; 
}

input::after {
  font-family: 'FontAwesome';
  display: inline-block;
  text-align: center;
  font-size: 30px;
  content: attr(data-icon);
  color: rgba(0,0,0,.4);
  transition: box-shadow 0s, color 1s;
  line-height: 14px;
}

input[value="F"]:checked::after{
  color: var(--color-pink);
}

input[value="M"]:checked::after{
  color: #4169E1;
}

input::placeholder {
  font-size: 16px;
  font-weight: normal;
  font-family: Montserrat, sans-serif;
}

button[type="submit"] {
  padding: 8px 32px;
  background-image: linear-gradient(390deg, #eec0c6 10%, #FF69B4 99%);
  box-shadow: 0px 0px 12px #FF69B4;
  border-radius: 4px;
  margin-top: 32px;
  width: 100%;
  color: var(--color-black);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.1s; 
  font-family: Montserrat, sans-serif;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: "";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.20s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

/*---------- Rodapé ----------*/

footer {
  background-color: var(--color-white);
  padding: 1px;
  text-align: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

footer h3 {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: var(--color-black);
  text-align: center;
  margin-bottom: 12px;
  margin-top: 15px; 
}