{% extends 'layout.njk' %}

{% block content %}

  <form class="card" method="POST" action="/instructors">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/9782617/1024x768) no-repeat center center / cover"></section>

    <section class="details">

      <h3>Cadastrar Professores</h3>

      <div class="item">
        <div>Avatar URL</div>
        <div>
          <input type="url" name="avatar_url" placeholder="">
        </div>
      </div>

      <div class="item">
        <div>Instrutor</div>
        <div>
          <input type="text" name="" placeholder="">
        </div>
      </div>

      <div class="item">
        <div>Data de Nascimento</div>
        <div>
          <input type="date" name="birth">
        </div>
      </div>

      <div class="item">
        <div>Sexo</div>
        <div>
          <span><input type="radio" name="gender" value="M" data-icon='' checked="checked">Masculino</span>
          <span><input type="radio" name="gender" value="F" data-icon=''>Feminino</span>
        </div>
      </div>

      <div class="item">
        <div>Modelo de Aula</div>
        <div>
          <span><input type="radio" name="class" value="P" checked="checked">Presencial</span>
          <span><input type="radio" name="class" value="D">EAD</span>
        </div>
      </div>

      <div class="item">
        <div>Áreas de Atuação</div>
        <div>
          <input type="text" name="services">
        </div>
      </div>

      <button type="submit">
        <span>Salvar</span></button>

    </section>

  </form>

{% endblock content %}