<div class="item">
  <div>Avatar URL</div>
  <div>
    <input type="url" name="avatar_url" value="{{ instructor.avatar_url }}" placeholder="">
  </div>
</div>

<div class="item">
  <div>Instrutor</div>
  <div>
    <input type="text" name="name" value="{{ instructor.name }}" placeholder="">
  </div>
</div>

<div class="item">
  <div>Data de Nascimento</div>
  <div>
    <input type="date" name="birth" value="{{ instructor.birth }}">
  </div>
</div>

<div class="item">
  <div>Sexo</div>
  <div>
    <span><input type="radio" name="gender" value="M" { % if instructor.gender == 'M' % } checked { % endif % } data-icon=''>Masculino</span>
    <span><input type="radio" name="gender" value="F" { % if instructor.gender == 'F' % } checked { % endif % } data-icon=''>Feminino</span>
  </div>
</div>

<div class="item">
  <div>Grau de Escolaridade</div>
  <select name="education" value="{{ instructor.education }}">
    <option>Ensino Médio Completo</option>
    <option>Ensino Superior Completo</option>
    <option>Pós-graduação</option>
    <option>Mestrado</option>
    <option>Doutorado</option>
  </select>
</div>

<div class="item">
  <div>Modelo de Aula</div>
  <div>
    <span><input type="radio" name="classes" value="P" { % if instructor.classes == 'P' % } checked { % endif % }>Presencial</span>
    <span><input type="radio" name="classes" value="D" { % if instructor.classes == 'D' % } checked { % endif % }>EAD</span>
  </div>
</div>

<div class="item">
  <div>Áreas de Atuação</div>
  <div>
    <input type="text" name="services" value="{{ instructor.services }}">
  </div>
</div>

<button type="submit">
  <span>Salvar</span>
</button>