<div class="item">
  <div>Avatar URL</div>
  <div>
    <input type="url" name="avatar_url" placeholder="">
  </div>
</div>

<div class="item">
  <div>Instrutor</div>
  <div>
    <input type="text" name="name" placeholder="">
  </div>
</div>

<div class="item">
  <div>Data de Nascimento</div>
  <div>
    <input type="date" name="birth">
  </div>
</div>

<div class="item">
  <div>Sexo</div>
  <div>
    <span><input type="radio" name="gender" value="M" data-icon='' checked="checked">Masculino</span>
    <span><input type="radio" name="gender" value="F" data-icon=''>Feminino</span>
  </div>
</div>

<div class="item">
  <div>Grau de Escolaridade</div>
  <select name="education">
    <option>Ensino Médio Completo</option>
    <option>Ensino Superior Completo</option>
    <option>Pós-graduação</option>
    <option>Mestrado</option>
    <option>Doutorado</option>
  </select>
</div>

<div class="item">
  <div>Modelo de Aula</div>
  <div>
    <span><input type="radio" name="classes" value="P" checked="checked">Presencial</span>
    <span><input type="radio" name="classes" value="D">EAD</span>
  </div>
</div>

<div class="item">
  <div>Áreas de Atuação</div>
  <div>
    <input type="text" name="services">
  </div>
</div>

<button type="submit">
  <span>Salvar</span>
</button>